<body class="login">
  <h1>Login</h1>
  <br>
  <div class ="well login">
  <%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit "Login" %>
  <% end %>
  <br>
  <%= link_to "Create New Account", new_user_path %>
</div>
</body>
