<h1>Edit Animal</h1>
<br>
<%= form_for(@animal) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<br>
<%= f.label :description %>
<%= f.text_field :description %>
<br>
<%= f.label :price %>
<%= f.text_field :price %>
<br>
<%= f.label :image_path %>
<%= f.text_field :image_path %>
<br>
<%= f.label :status %>
<%= f.select :status, options_for_select(Animal.statuses.keys) %>
<br>
<%= f.submit "Update" %>
<% end %>
