<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Animal</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th class="text-center">Edit Quantity</th>
                    </tr>
                </thead>
                <tbody>

                  <% @cart.contents.each do |animal_id, quantity| %>

                    <tr>
                        <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a class="thumbnail pull-left" href="#"><img class="media-object" src='<%= Animal.find(animal_id.to_i).image_path %>' style="width: 100px; height: 100px;"></a>
                            <div class="media-body">
                                <h4 class="media-heading"><%= link_to Animal.find(animal_id.to_i).name, animal_path(animal_id)%></a></h4>
                                <h5 class="media-heading"><%= Animal.find(animal_id.to_i).description %></h5>
                            </div>
                        </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                          <%= quantity %>
                        <!-- <input type="email" class="form-control" id="exampleInputEmail1" value=<%= quantity %>> -->
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>$<%= Animal.find(animal_id.to_i).price %>.00</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>$<%= Animal.find(animal_id.to_i).price * @cart.count_of(animal_id) %>.00</strong></td>

                        <td class="col-sm-1 col-md-1">
                          <%= link_to "-", cart_animal_path(animal_id, increment: "decrease"), method: :put, class: "btn btn-warning" %><br><br>
                          <%= button_to "+", cart_animal_path(animal_id, increment: "increase"), method: :put, class: "btn btn-success"%><br>
                          <%= button_to "Remove", cart_animal_path(animal_id), method: :delete, class: "btn btn-danger"%>

                        </td>
                    </tr>
                    <% end %>

                    <!-- <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>$24.59</strong></h5></td>
                    </tr> -->
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Estimated shipping</h5></td>
                        <td class="text-right"><h5><strong>FREE</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>$<%= @cart.total_price %>.00</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                          <%= link_to "Continue Shopping", animals_path, class: "btn btn-info" %>
                        </td>
                        <td>
                          <%= link_to "Login or Create Account to Checkout", login_path, class: "btn btn-success" if current_user.nil? %>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- <% @cart.contents.each do |animal_id, quantity| %>
  <img src="<%= Animal.find(animal_id.to_i).image_path %>" height = "200">
  <b><%= Animal.find(animal_id.to_i).name %></b> -
  <%= Animal.find(animal_id.to_i).description %>
  Quantity: <%= quantity %>
  $<%= Animal.find(animal_id.to_i).price * @cart.count_of(animal_id) %>
  <br><br>
  <%= link_to "Remove", cart_animal_path(animal_id), method: :delete, class: "btn btn-warning" %>
  <%= button_to "Add", cart_animal_path(animal_id), method: :put, class: "btn btn-success"%>
<% end %>

Total Cost: $<%= @cart.total_price %>
<br><br>
<%= link_to "Login or Create Account to Checkout", login_path, class: "btn btn-success" if current_user.nil? %> -->
