<h1>Order Number: <%= @order.id%></h1>
<br>
<%= @order.status %>
<br><br>
<% if @order.closed? %>
Order <%= @order.status %> at <%= @order.updated_at %>
<br>
<% end %>
Order created at <%= @order.created_at %>
<br><br>

<% @order.order_animals.each do |animal_order| %>
Name: <%= link_to animal_order.animal.name, animal_path(animal_order.animal) %>
<br>
Quantity: <%= animal_order.quantity %>
<br>
$<%= animal_order.subtotal %>
<br><br>
<% end %>
<br>

Total: $<%= @order.total_price %>
<br><br><br>
<%= link_to "All Orders", orders_path, class: "btn btn-info" %>
