<body class="create-animal">
  <div class="text-center">
  <h1 class="header-white">Create an Animal</h1>
</div>
  <br>
  <div class ="well new-form">
    <table class="form">
      <%= form_for(@animal) do |f| %>
      <tr>
        <td>Name: </td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td>Description: </td>
        <td><%= f.text_field :description %></td>
      </tr>
      <tr>
        <td>Price: </td>
        <td><%= f.text_field :price %></td>
      </tr>
      <tr>
        <td>Image: </td>
        <td><%= f.text_field :image_path %></td>
      </tr>
      <tr>
        <td>Category: </td>
        <td><%= select_tag(:category_id, options_for_select(@categories)) %></td>
      </tr>
    </table>
    <%= f.submit "Create", class: "btn btn-hero" %>
    <% end %>
  </div>
</body>
