<!DOCTYPE html>
<html>
<head>
  <title>ExoticPetShop</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p>
    <%= link_to "All Animals", animals_path %>
  </p>

  <p>
    <%= link_to "Categories", categories_path %>
  </p>

  <p>
    Cart: <%= @cart.total %>
  </p>

  <% flash.each do |type, message| %>
  <%= content_tag :div, message, class: "flash_#{type}" %>
  <% end %>

<%= yield %>

</body>
</html>
